{% extends "base.html" %}

{% block titulo %}
Cadastrar Animal | Agrogestor
{% endblock %}

{% block conteudo %}

<div class="cabecalho-pagina">

<div>
    <span class="pequeno-titulo">
        REBANHO
    </span>

    <h2>
         Cadastrar nova vaca
    </h2>

    <p>
        Adicione um novo animal ao rebanho da propriedade.
    </p>
</div>

<a
    href="{{ url_for('animais') }}"
    class="btn"
>
    ← Voltar
</a>

</div>

<section class="card">

<form
    action="{{ url_for('cadastrar_animal') }}"
    method="POST"
>

    <!-- BRINCO -->

    <label for="brinco">
        Brinco *
    </label>

    <input
        type="text"
        id="brinco"
        name="brinco"
        placeholder="Digite o número do brinco"
        required
    >


    <!-- NOME -->

    <label for="nome">
        Nome do animal
    </label>

    <input
        type="text"
        id="nome"
        name="nome"
        placeholder="Digite o nome do animal (opcional)"
    >


    <!-- RAÇA -->

    <label for="raca">
        Raça *
    </label>

    <input
        type="text"
        id="raca"
        name="raca"
        placeholder="Ex.: Nelore"
        required
    >


    <!-- SITUAÇÃO -->

    <label for="situacao">
        Situação *
    </label>

    <select
        id="situacao"
        name="situacao"
        required
    >

        <option value="Vazia" selected>
            Vazia
        </option><option value="Gestante">
            Gestante
        </option>

        <option value="Parida">
            Parida
        </option>

    </select>


    <!-- LOTE -->

    <label for="lote_id">
        Lote
    </label>

    <select
        id="lote_id"
        name="lote_id"
    >

        <option value="">
            Sem lote
        </option>

        {% for lote in lotes %}

        <option value="{{ lote.id }}">
            {{ lote.nome }}
        </option>

        {% endfor %}

    </select>


    <!-- BOTÃO -->

    <button type="submit">
        Cadastrar animal
    </button>

</form>

</section>

{% endblock %}
