{% extends 'base.html' %}

{% block conteudo %}

<div class="cabecalho-pagina">
    <h2>Cadastrar Nova Vaca</h2>

    <a href="{{ url_for('animais') }}" class="btn">
        Voltar
    </a>
</div>

<section class="card">

    <form action="{{ url_for('cadastrar_animal') }}" method="POST">

        <label for="brinco">
            Brinco
        </label>

        <input
            type="text"
            id="brinco"
            name="brinco"
            placeholder="Digite o número do brinco"
            required
        >


        <label for="nome">
            Nome
        </label>

        <input
            type="text"
            id="nome"
            name="nome"
            placeholder="Digite o nome do animal"
        >


        <label for="raca">
            Raça
        </label>

        <input
            type="text"
            id="raca"
            name="raca"
            placeholder="Ex.: Nelore"
            required
        >


        <label for="situacao">
            Situação
        </label>

        <select
            id="situacao"
            name="situacao"
            required
        >
            <option value="Vazia">
                Vazia
            </option>

            <option value="Gestante">
                Gestante
            </option>

            <option value="Parida">
                Parida
            </option>
        </select>


        <label for="lote_id">
            Lote
        </label>

        <select
            id="lote_id"
            name="lote_id"
        >

            <option value="">
                Sem Lote
            </option>

            {% for lote in lotes %}

            <option value="{{ lote.id }}">
                {{ lote.nome }}
            </option>

            {% endfor %}

        </select>


        <button type="submit">
            Cadastrar Animal
        </button>

    </form>

</section>

{% endblock %}