
{% extends 'base.html' %}

{% block conteudo %}

<h2>Visão Geral da Propriedade</h2>

<div class="grid-cards">

    <div class="card">
        <h3>Total de Animais</h3>

        <p id="total-animais">
            {{ total_animais }}
        </p>
    </div>


    <div class="card">
        <h3>Custos Acumulados</h3>

        <p id="total-custos">
            R$ {{ "%.2f"|format(total_custos)|replace(".", ",") }}
        </p>
    </div>


    <div class="card">
        <h3>Receitas Totais</h3>

        <p id="total-receitas">
            R$ {{ "%.2f"|format(total_receitas)|replace(".", ",") }}
        </p>
    </div>

</div>

{% endblock %}